@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

:root {
  --add-button-bg: hsl(260, 40%, 40%);
  --add-button-hover: hsl(260, 40%, 50%);
  --bg: hsl(0, 0%, 10%);
  --cancel-bg: hsl(0, 40%, 40%);
  --cancel-hover: hsl(0, 50%, 50%);
  --confirm-bg: hsl(120, 40%, 40%);
  --confirm-hover: hsl(120, 50%, 50%);
  --font-color: white;
  --secondary-font-color: hsl(0, 0%, 80%);
  --project-button-bg: hsl(0, 0%, 20%);
  --project-button-hover: hsl(0, 0%, 30%);
  --sidebar-bg: hsl(0, 0%, 15%);
  --input-bg: hsl(0, 0%, 20%);
  --high-priority: hsl(0, 50%, 50%);
  --medium-priority: hsl(60, 50%, 50%);
  --low-priority: hsl(120, 50%, 50%);
  --task-button-border: hsl(0, 0%, 40%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--bg);
  color: var(--font-color);
  font-family: 'system';
  margin: 0;
}

button {
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

input,
textarea {
  background: var(--input-bg);
  color: white;
  font-family: inherit;
  outline: 0;
}

label {
  color: var(--secondary-font-color);
  font-size: 0.8rem;
  margin-bottom: 0.2vmin;
}

.error {
  outline: 1px solid red;
}

.project {
  background: var(--project-button-bg);
  border-radius: 10px;
  margin-bottom: 1vmin;
  overflow: hidden;
  padding: 0.8rem;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}

.project:hover {
  background: var(--project-button-hover);
  cursor: pointer;
}

.active-project {
  background: var(--project-button-hover);
}

.add-button {
  background: var(--add-button-bg);
  border: none;
  border-radius: 10px;
  color: inherit;
  font-size: 16px;
  padding: 0.8rem;
  width: 100%;
}

.add-button:hover {
  background: var(--add-button-hover);
}

.form-input {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 0.8rem;
  width: 100%;
}

.cancel-button {
  background: var(--cancel-bg);
  color: var(--font-color);
  font-size: 16px;
  padding: 0.8rem;
}

.cancel-button:hover {
  background: var(--cancel-hover);
}

.confirm-button {
  background: var(--confirm-bg);
  color: var(--font-color);
  font-size: 16px;
  padding: 0.8rem;
}

.confirm-button:hover {
  background: var(--confirm-hover);
}

.task {
  align-items: center;
  border-radius: 10px;
  display: flex;
  gap: 2vmin;
  height: 5vmin;
  padding: 0.8rem;
  width: 100%;
}

.task > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task:hover {
  background: var(--input-bg);
}

.task-button {
  border: 0.2rem solid var(--task-button-border);
  border-radius: 100%;
  flex-shrink: 0;
  height: 1.5rem;
  width: 1.5rem;
}

.task.priority-high > .task-button {
  border-color: var(--high-priority);
}

.task.priority-medium > .task-button {
  border-color: var(--medium-priority);
}

.task.priority-low > .task-button {
  border-color: var(--low-priority);
}

.task-button:hover {
  background: var(--project-button-hover);
  cursor: pointer;
}

#new-task-form {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}

.new-task-form-row {
  display: flex;
  gap: 1vmin;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.task-text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.task-name,
.task-description {
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-description {
  color: var(--secondary-font-color);
  font-size: 0.8rem;
}

#container {
  display: flex;
  height: 100vh;
}

#sidebar {
  align-items: center;
  background: var(--sidebar-bg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 300px;
  min-width: 240px;
  overflow: scroll;
  padding: 20px;
}

#project-list {
  width: 100%;
}

#new-project-form {
  width: 100%;
}

#content-pane {
  flex-grow: 1;
  max-width: 80%;
  padding: 0 10%;
}

#add-project-form {
  flex-direction: column;
  gap: 1vmin;
  width: 100%;
}

#add-project-buttons-container {
  margin-top: 1vmin;
}

#add-project-buttons-container,
#new-task-buttons-container {
  display: flex;
  gap: 10px;
}

#add-project-cancel-button,
#add-project-confirm-button,
#new-task-cancel-button,
#new-task-confirm-button {
  flex-grow: 1;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1vmin;
}

#tasks,
#new-task {
  width: 100%;
}

#new-task[data-form='closed'] > #new-task-form,
#new-task[data-form='open'] > #new-task-button {
  display: none;
}

#new-task[data-form='open'] > #new-task-form {
  display: flex;
}

#new-task[data-form='closed'] > #new-task-button {
  display: block;
}

#Inbox::before {
  content: '📨 ';
}

#new-task-priority {
  background: var(--input-bg);
  border: 0;
  border-radius: 10px;
  color: var(--font-color);
  flex-grow: 1;
  padding-left: 1vmin;
}

#new-task-priority:hover {
  cursor: pointer;
}

.new-task-name-form-group {
  flex-grow: 1;
}

.new-task-description-form-group {
  width: 100%;
}

.task-due-date {
  color: var(--secondary-font-color);
  font-style: italic;
}
